In [1]:
import numpy as np
import pandas as pd

scores=np.random.randint(40, high=101, size=(50,5))
scores_df=pd.DataFrame(scores,
    columns=['國','英','數','地','歷'],
    index=range(1,51))
scores_df.index.name='學號'
scores_df.columns.name='科目'
sum_series=scores_df.sum(axis=1)
mean_series=scores_df.mean(axis=1)
#display(sum_series)
rank_series=sum_series.rank(method='min',ascending=False)
scores_df['總分']=sum_series
scores_df['平均']=mean_series
scores_df['名次']=rank_series
scores_df.sort_values(by='名次')

科目   國    英    數    地    歷   總分    平均    名次
學號
46  98   98   91   95   80  462  92.4   1.0
47  77   97   60   99  100  433  86.6   2.0
31  84   97   53   91  100  425  85.0   3.0
40  89  100   79   78   74  420  84.0   4.0
34  84   88   85   74   89  420  84.0   4.0
43  80   81   68   94   93  416  83.2   6.0
14  87   98   89   54   80  408  81.6   7.0
36  88   58   96  100   57  399  79.8   8.0
50  83   97   45   95   75  395  79.0   9.0
6   51   80   84  100   79  394  78.8  10.0
26  48   99   73   91   77  388  77.6  11.0
39  43   99   88   63   94  387  77.4  12.0
38  98   82   44   60   99  383  76.6  13.0
20  86   98  100   53   46  383  76.6  13.0
13  98   69   67   61   85  380  76.0  15.0
12  66   66   51   92   99  374  74.8  16.0
35  53   95   89   69   67  373  74.6  17.0
45  54   78   80   79   82  373  74.6  17.0
28  58   79   71   74   78  360  72.0  19.0
9   92   52   80   94   41  359  71.8  20.0
11  71   73   74   45   96  359  71.8  20.0
1   97   49   47   74   90  357  71.4  22.0
23  47   63   66   82   96  354  70.8  23.0
42  98   61   50   79   65  353  70.6  24.0
22  83   76   70   59   62  350  70.0  25.0
16  50   76   50   91   82  349  69.8  26.0
24  92   77   48   52   75  344  68.8  27.0
2   69   54   90   75   56  344  68.8  27.0
17  41   61   77   74   89  342  68.4  29.0
48  60   90   47   46   92  335  67.0  30.0
8   60   40   81   62   92  335  67.0  30.0
5   76   72   47   80   56  331  66.2  32.0
44  81   53   43   89   63  329  65.8  33.0
25  98   45   98   46   40  327  65.4  34.0
19  62   74   93   48   48  325  65.0  35.0
32  70   55   52   82   65  324  64.8  36.0
41  70   90   43   69   52  324  64.8  36.0
21  99   69   40   49   67  324  64.8  36.0
27  87   48   82   47   58  322  64.4  39.0
15  75   54   73   60   54  316  63.2  40.0
7   57   67   57   59   73  313  62.6  41.0
18  66   85   47   40   73  311  62.2  42.0
3   64   72   49   54   70  309  61.8  43.0
49  48   59   89   72   40  308  61.6  44.0
37  85   91   43   46   42  307  61.4  45.0
4   49   82   46   60   68  305  61.0  46.0
30  46   46   82   76   54  304  60.8  47.0
10  45   55   86   51   58  295  59.0  48.0
29  40   73   65   41   66  285  57.0  49.0
33  56   50   44   73   54  277  55.4  50.0

In [2]:
display(scores_df.iloc[:3])
new_df=scores_df.iloc[:3].copy()
new_df['不及格']=pd.Series([1,0,2],index=[1,2,3])
new_df

科目   國   英   數   地   歷   總分    平均    名次
學號
1   97  49  47  74  90  357  71.4  22.0
2   69  54  90  75  56  344  68.8  27.0
3   64  72  49  54  70  309  61.8  43.0

科目   國   英   數   地   歷   總分    平均    名次  不及格
學號
1   97  49  47  74  90  357  71.4  22.0    1
2   69  54  90  75  56  344  68.8  27.0    0
3   64  72  49  54  70  309  61.8  43.0    2

In [5]:
def func3(series:pd.Series)->int:
    return series[series<=60].count()
less60Count=scores_df[['國','英','數','地','歷']].apply(func3,axis=1)
less60Count

學號
1     2
2     2
3     2
4     3
5     2
6     1
7     3
8     2
9     2
10    4
11    1
12    1
13    0
14    1
15    3
16    2
17    1
18    2
19    2
20    2
21    2
22    1
23    1
24    2
25    3
26    1
27    3
28    1
29    2
30    3
31    1
32    2
33    4
34    0
35    1
36    2
37    3
38    2
39    1
40    0
41    2
42    1
43    0
44    2
45    1
46    0
47    1
48    3
49    3
50    1
dtype: int64

In [6]:
scores_df['不及格']=less60Count
scores_df

科目   國    英    數    地    歷   總分    平均    名次  不及格
學號
1   97   49   47   74   90  357  71.4  22.0    2
2   69   54   90   75   56  344  68.8  27.0    2
3   64   72   49   54   70  309  61.8  43.0    2
4   49   82   46   60   68  305  61.0  46.0    3
5   76   72   47   80   56  331  66.2  32.0    2
6   51   80   84  100   79  394  78.8  10.0    1
7   57   67   57   59   73  313  62.6  41.0    3
8   60   40   81   62   92  335  67.0  30.0    2
9   92   52   80   94   41  359  71.8  20.0    2
10  45   55   86   51   58  295  59.0  48.0    4
11  71   73   74   45   96  359  71.8  20.0    1
12  66   66   51   92   99  374  74.8  16.0    1
13  98   69   67   61   85  380  76.0  15.0    0
14  87   98   89   54   80  408  81.6   7.0    1
15  75   54   73   60   54  316  63.2  40.0    3
16  50   76   50   91   82  349  69.8  26.0    2
17  41   61   77   74   89  342  68.4  29.0    1
18  66   85   47   40   73  311  62.2  42.0    2
19  62   74   93   48   48  325  65.0  35.0    2
20  86   98  100   53   46  383  76.6  13.0    2
21  99   69   40   49   67  324  64.8  36.0    2
22  83   76   70   59   62  350  70.0  25.0    1
23  47   63   66   82   96  354  70.8  23.0    1
24  92   77   48   52   75  344  68.8  27.0    2
25  98   45   98   46   40  327  65.4  34.0    3
26  48   99   73   91   77  388  77.6  11.0    1
27  87   48   82   47   58  322  64.4  39.0    3
28  58   79   71   74   78  360  72.0  19.0    1
29  40   73   65   41   66  285  57.0  49.0    2
30  46   46   82   76   54  304  60.8  47.0    3
31  84   97   53   91  100  425  85.0   3.0    1
32  70   55   52   82   65  324  64.8  36.0    2
33  56   50   44   73   54  277  55.4  50.0    4
34  84   88   85   74   89  420  84.0   4.0    0
35  53   95   89   69   67  373  74.6  17.0    1
36  88   58   96  100   57  399  79.8   8.0    2
37  85   91   43   46   42  307  61.4  45.0    3
38  98   82   44   60   99  383  76.6  13.0    2
39  43   99   88   63   94  387  77.4  12.0    1
40  89  100   79   78   74  420  84.0   4.0    0
41  70   90   43   69   52  324  64.8  36.0    2
42  98   61   50   79   65  353  70.6  24.0    1
43  80   81   68   94   93  416  83.2   6.0    0
44  81   53   43   89   63  329  65.8  33.0    2
45  54   78   80   79   82  373  74.6  17.0    1
46  98   98   91   95   80  462  92.4   1.0    0
47  77   97   60   99  100  433  86.6   2.0    1
48  60   90   47   46   92  335  67.0  30.0    3
49  48   59   89   72   40  308  61.6  44.0    3
50  83   97   45   95   75  395  79.0   9.0    1